<!doctype html>
<html lang="en">
    <%= require('html-loader!./partials/head.ejs') %>
<body>
    <%= require('html-loader!./components/_header.ejs') %>

    <%= require('html-loader!./components/_jumbotron.ejs') %>

    <%= require('html-loader!./components/_nav_menu.ejs') %>

    <%= require('html-loader!./components/_footer.ejs') %>
</body>
</html>